.main-background-color {
  background: #0093d2;
}

.logo-container {
  position: absolute;
  left: 20px;
}

.user_header {
  font-size: medium;
  text-align: center;
}

.margin {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.top_header {
  background: #0093d2;
  color: #fff;
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.paraline {
  background: #0093d2;
  color: #fff;
  font-weight: bold;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.one-line-table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.grid-container {
  display: grid;
  gap: 10px;
}

.link {
  color: #59cafa;
}

.h4-form {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.hidden-button {
  background: inherit;
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.maquette-paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.maquette-table {
  margin-top: 10px;
  margin-bottom: 50px;
}

.maquette-cell {
  width: 25%;
}

.maquette-cell-empty {
  width: 25%;
  background: #ef292986;
}

.maquette-cell-dead {
  width: 25%;
  background: #000000cb;
}

.modal-line {
  border-bottom: 1px solid #737373;
}

.maquette-icon {
  width: 4vw;
  min-width: 30px;
  height: 4vw;
  min-height: 30px;
  background: white;
}

